{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%load filename%}
{%block jumbotron%}
{%load staticfiles%}
    <style>
    #id_state{
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
    #id_question{
        width: 300px;
        height: 100px;
    }
    </style>
  <script>
     function readQuestion(quest_id,question,option_a,option_b,option_c,option_d,option_correct){
         var id=document.getElementById('id');
         var quest=document.getElementById('id_question');
         var a= document.getElementById('id_option_a');
         var b= document.getElementById('id_option_b');
         var c= document.getElementById('id_option_c');
         var d= document.getElementById('id_option_d');
         var correct= document.getElementById(option_correct).checked=true;
         quest.value=question;
         a.value=option_a;
         b.value=option_b;
         c.value=option_c;
         d.value=option_d;
         id.value=quest_id;
        //$('input[name="' +'id_option_correct' + '"]').val([option_correct]).setProperty('checked',true);

     }
  </script>
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
      {% if ques %}
      <form action ="" method = "POST">{%csrf_token%}
        Question{{ques.question}}<br>
        <input type="hidden" name="question_id" value="{{ quest.question_id }}">
        <input type="radio" name="options"  value="0">{{ ques.option_a }}<br>
        <input type="radio" name="options" value="1">{{ ques.option_b }}<br>
        <input type="radio" name="options" value="2">{{ ques.option_c }}<br>
        <input type="radio" name="options" value="3">{{ ques.option_d }}<br>
        <input type="submit" value="Submit">
      </form>
      {% else %}
          {{ submission }}
      {% endif %}


  </div>
  <div class="col-md-4"></div>

  <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            Uploaded Questions
        </div>
        <div class="panel-body ">
          <ol style="list-style-type:none">
            {% if uploaded %}
                <form method="post" id='edit_form' action="{% url 'edit' %}">{% csrf_token %}</form>
                <form method="post" id='delete_form' action="{% url 'delete' %}">{% csrf_token %}</form>
                {% for quest in uploaded %}

                  <li>{{  quest.question }}
                      <input  type="button" name="edit"
                              onclick="readQuestion('{{ quest.id }}','{{ quest.question }}','{{ quest.option_a }}','{{ quest.option_b }}','{{ quest.option_c }}','{{ quest.option_d }}','{{ quest.option_correct }}')" value="Edit"/>
                      <input form='delete_form' type="hidden" value="{{ quest.id }}" name="quest_id"/>

                      <input form='delete_form' type="submit" name="delete" value="delete">
                  </li>
                    </form>
                {% endfor %}
            {% endif %}
          </ol>
        </div>
      </div>
  </div>
</div>
{% if request.user.is_superuser %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
     <form id="question_form" action ="" method = "POST">{%csrf_token%}

      Question<br>
      {{ form.question }}<br>
      <input type="hidden" name="id" value="0">
      Option_a{{ form.option_a }}<input type="radio" class='radio_1' name="correct" value="0" id="0"checked><br>
      Option_b{{ form.option_b }}<input type="radio" class='radio_1'  name="correct" value="1" id="1"><br>
      Option_c{{ form.option_c }}<input type="radio" class='radio_1'  name="correct" value="2" id="2"><br>
      Option_d{{ form.option_d }}<input type="radio" class='radio_1'  name="correct" value="3" id="3"><br>
      <input type="submit" value="Submit">
     </form>
  </div>
</div>
{% endif %}
{% endblock %}